<div class="container ">
   
    
        <% data[0].forEach(function(details) { %>
            <p><strong>Titulo: </strong>  <%= details.title %></p>
            <p><strong>Autor :</strong><%= details.firstName %></p>
            <p><strong>Contenido :</strong><%= details.content %></p>
            <p>------------------------------------------------------------</p>  

            <% }) %>
      
<div>